/* Phone */
@media only all and (max-width: 768px) {    
    #top {
        display: block;
        width: 100%;
        height: 27.5em;
        background: linear-gradient(90deg, #cc1f42, #75081e);
        color: #e4e3e3;
        margin-top: 31em;
    }
    
    /* left side info */
    #left-info {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 100%;
        margin-top: 18em;
        font-size: 1.25em;
        padding-top: 1em;
    }

    #left-info img {
        display: none;
    }
    
    #left-info dl dt {
        font-weight: bold;
        font-size: 1.5em;
        padding: 0.25em;
    }
    
    #left-info dl dd {
        font-style: italic;
    }
    
    /* right side info*/
    #right-info {
        float: none;
        width: 100%;
        padding-top: 2em;
        margin-top: 1em;
        margin-right: auto;
        margin-left: auto;
    }
    
    #right-info h1{
        text-align: center;
        padding: 0.1em;
        font-size: 2em;
    }
    
    #right-info button {
        margin: 1.25em;
        color: #ffffff;
        border: #ffffff;
        border-style: solid;
        border-width: 2px;
        display: absolute;
        background: none;
        padding: 10px 20px;
        cursor: pointer;
        transform: rotate(0deg) skewX(0deg) translate(0,0);
        transition: 0.5s;
        box-shadow: -10px 10px 5 rgba(0,0,0,0.5);
    }
    
    #right-info:before {
        content: '';
        position: absolute;
        top: 5px;
        left: -5px;
        width: 5px;
        height: 100%;
        background: #eef2f3;
        transform: rotate(0deg skewY(-45deg));
        transform: 0.5s;
    }
    
    #right-info:after {
        content: '';
        position: absolute;
        top: 5px;
        left: -5px;
        width: 5px;
        height: 100%;
        background: #eef2f3;
        transform: rotate(0deg skewY(-45deg));
        transform: 0.5s;
    }
    
    #right-info button:hover {
        background: linear-gradient(90deg, #fffbd5, #b20a2c);
    }

    .slideshow-container {
        display: none;
    }

    #slideshow-replacement {
        display: none;
    }
    
    #bottom {
        display: block;
        width: 100%;
        height: 26em;
        text-align: center;
        font-size: 1.25em;
    }
    
    #bottom-left-info {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 100%;
    }
    
    #bottom-left-info dl {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    #bottom-left-info dl dt {
        font-weight: bold;
        font-size: 1.75em;
    }
    
    #bottom-left-info dl dd ul li {
        list-style-type: none;
        padding: 0.45em;
    }
    
    #bottom-right-info {
        display: none;
    }
}

/* phone */
@media only all and (max-width: 768px) {
    /* navigation  */
    nav{
        display: block;
        width: 100%; 
        height: 250px; 
        top: 0;
        position: fixed;
        z-index: 99999;
        transition: all ease .5s;
    }
    
    nav.shrink {
        height: 225px;
        transition: all ease .5s;
    }
    
    .logoHeading{ 
        width: 25%; 
        height: 50px;
        margin: auto;
        float: none;
        display: block;
    }
    
    header nav h1{
        text-align: center;
        width: 100%;
        line-height: 40px; 
        transition: all ease .5s;
        float: none;
        border-bottom: 2px solid #696969;
    }

    .menu {
        display: none;
    }
    
    .mobile-menu {
        width: 100%;
        height: 100px; 
        display: block;       
    }
    
    .mobile-menu ul{
        width: 100%;
        height: 80px;
        display: block;
        justify-content: space-around;
        align-items: center;
        transition: all ease .5s;
    }
    
    .mobile-menu ul li{
        padding-left: 10px;
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 2px solid #696969;
        background-color: #cc1f42;
    }
    
    .mobile-menu a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .mobile-menu li:hover {
        background-color: #eca2b1;
    }

    /* bottom of pages */
    .directory {
        background-color: #e4e3e3;
        color: #000000;
        border-bottom: #000000 solid 2px;
        border-top: #000000 solid 2px;
    }
    
    /* clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* create three equal columns that floats next to each other */
    .column {
        float: none;
        width: 100%;
        padding: 10px;
        text-align: center;
        height: 125px; 
    }
    
    .column ul li{
        align-items: center;
        text-transform: uppercase; 
    }
    
    .directory a {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 2px;
    }
    
    .directory a:hover {
        opacity: 0.5;
    }
    
    .directory h1 {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-decoration: underline;
    }
    
    .directory ul {
        list-style-type: none;
    }
    
    .contactUs {
        text-align: center;
        padding-top: 3em;
        padding-bottom: 10px;
        font-size: 1.25em;
    }
    
    .bpef {
        font-weight: bold;
    }
    
    .contactUs img {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .contactUs a {
        text-decoration: none;
        font-size: 1em;
        font-weight: 100;
    }
    
    .contactUs a:hover {
        opacity: 0.5;
        text-decoration: underline;
    }
    
    footer {
        color: #ffffff; 
        text-align: center;
        background: linear-gradient(90deg, #cc1f42, #75081e);
        padding-top: 10px;
        padding-bottom: 5px;
        font-style: italic;
    }
}

